$spinner-width: 20px;
$spinner-stroke: 5px;

.spinner {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;

  .lightbox {
    display:block;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
  }

  .spinner_loader {
    padding: $spinner-width;
    border-radius: 100%;
    border-top: $spinner-stroke solid $main-color;
    border-right: $spinner-stroke solid rgba($main-color, 0.7);
    border-left: $spinner-stroke solid rgba($main-color, 0.5);
    border-bottom: $spinner-stroke solid rgba($main-color, 0.3);
    background-color: transparent;
    position: absolute;
    top: calc(50% - #{$spinner-width/2});
    left: calc(50% - #{$spinner-width/2});
    animation: spinner 750ms infinite;
  }
}

@keyframes spinner {
    0%{transform: rotateZ(0deg)}
    100%{transform: rotateZ(360deg)}
}